<p local-class="container-login100">
  <img src="assets/icon/img-01.png" alt="" width="400" 
      height="300">
    
  <div>
    <font color="white"><h1>Member Login</h1></font>
    {{textbox}}
    {{textbox}}

    {{#link-to "detail"}}
      {{login
        label="login"}}
    {{/link-to}}
  </div>
</p>