<div>
  <p local-class="solid">
    <h1>Dash board of your team</h1>
  </p>
  {{#flex-container}}
    
      <p  local-class="solid">
        <h2> Act. Stream</h2>
      </p>  

      <p local-class="solidv2">
        <h2> Act. Stream</h2>
      </p>  
  {{/flex-container}}
</div>