<div>
  <p local-class="solid">
    <h1>Dash board of your team</h1>
  </p>
  {{#flex-container}}
    
      <p  local-class="solid">
        <h2> Act. Stream</h2>
        <img src="assets/icon/trello.png" alt="" width="600">
      </p>  

      <div local-class="margin">
      <p local-class="solidv2">
        <h2> Act. Stream</h2>
        <div local-class="padding">
        <img src="assets/icon/Capture.png" alt="" width="500">
        </div>
        
      </p>
      </div>  
  {{/flex-container}}
</div>